RemoteSystemsTempFiles/
Vivado/.Xil/
Vivado/logs/
Vivado/sim/
*.log
*.jou
*.lock
*.pb
*.wdb
docs/build/
bootimages/
Yocto/offline.txt
# UPDATER START
Vivado/uzev/
Vivado/zcu106_hpc0/
Vivado/vck190_fmcp1/
# UPDATER END
dfx_runtime.txt
.repo.yaml
.memdata_temp_mem_file.mem
Vivado/*.bif
Vivado/*.pdi
Vivado/*.rcdo
Vivado/*.rnpi
Vivado/wdi_info.xml
__pycache__/
*.pyc
Vivado/gen_files/
Vivado/static_files/
